In [2]:
import pandas as pd

# Specify the file path and delimiter
file_path = 'E:\Sagar\EMAKG\PaperExtendedAttributes\PaperExtendedAttributes.txt'
delimiter = ' '

In [3]:
# Load the file into a DataFrame
df = pd.read_csv(file_path, sep=delimiter)

df.shape[0]

184471355

In [5]:
# Assign column names using the columns attribute
df.columns = ['Col1', 'Col2', 'Col3', 'Col4']

# Remove the Records with Column 2 with PubMedid, PubCentralId, 
df = df[df["Col2"].str.contains("ontology|hasPubMedId|hasPubMedCentralId") == False]

In [7]:
# Validation if Any Other DataItem is there is Col2 & Col4
df[df['Col2'] != '<http://purl.org/spar/fabio/hasPatentNumber>'].head()
df[df['Col4'] != '.'].head()

Empty DataFrame
Columns: [Col1, Col2, Col3, Col4]
Index: []

In [ ]:
# Since there is no content left in Col2 & Col4; Dropping the same
df = df.drop(['Col2', 'Col4'], axis=1)

In [ ]:
# Replacing the Characters to Generate Paper_ID 
df['Col5'] = df['Col1']

df['Col5'] = df['Col5'].replace(to_replace='<https:\/\/makg.org\/entity/', regex=True, value='')
df['Col5'] = df['Col5'].replace(to_replace='>', regex=True, value='')

In [50]:
# Replacing the Characters to Generate Patent_ID 

df['Col6'] = df['Col3']

df['Col6'] = df['Col6'].replace(to_replace='<http:\/\/www.w3.org\/2001\/XMLSchema#string>', regex=True, value='')
df['Col6'] = df['Col6'].replace(to_replace='\^\^', regex=True, value='')

In [52]:
# Creating Additional Dataframe to Store New Items

Final_Df = df[['Col5', 'Col6']]

Final_Df.columns = ['paper_id','patent_id']

# Reset the row index of the new DataFrame
Final_Df = Final_Df.reset_index(drop=True)

In [53]:
# Generating Count 
Final_Df.shape[0]

74423615

In [56]:
# Generating Count 
Final_Df.head()

  paper_id  patent_id
0      138    3678028
1      266    4584809
2      266  CA1219721
3      782    5611383
4     1119    4925904

In [57]:
# Export the DataFrame to a file with a delimiter
Final_Df.to_csv('E:\Sagar\EMAKG\Paper_Patent_Linkage\Paper_Patent_Linkage.csv', sep='|', index=False)