In [1]:
# Importing necessary packages.
import os
import zipfile as zip
import pandas as pd
import csv
import numpy as np

# Set up file path:
# Please include the folder path of the file you are reading. Ex: os.chdir("C:/Users/johnsmith/Downloads")
os.chdir("E:\Raktim\PatentView Data")

file_name = "g_inventor_disambiguated.tsv.zip"
f_name = "g_inventor_disambiguated.tsv"

# Initialize an empty list to store the dataframes
dfs = []

# Selecting the zip file.
with zip.ZipFile(file_name) as zf:
    chunksize = 15*(10 ** 5)
    count = 1
    n_obs = 0
    dtype={'sequence': int}
    for df in pd.read_csv(zf.open(f_name), delimiter="\t", chunksize=chunksize):
        print('processing chunk: ' + str(count))
        n_obs += len(df)
        dfs.append(df)  # Append the current chunk dataframe to the list of dataframes
        count += 1

# Concatenate all the dataframes into a single dataframe
full_df = pd.concat(dfs)

# Print summary of data: number of observations, columns, and each variable data type
print(n_obs)
print(full_df.dtypes)
print(full_df.describe(exclude=[np.number]))

processing chunk: 1
processing chunk: 2
processing chunk: 3
processing chunk: 4
processing chunk: 5
processing chunk: 6
processing chunk: 7
processing chunk: 8
processing chunk: 9
processing chunk: 10
processing chunk: 11
processing chunk: 12

C:\Users\12120044\AppData\Local\Temp\11\ipykernel_36852\2850241976.py:24: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  for df in pd.read_csv(zf.open(f_name), delimiter="\t", chunksize=chunksize):

processing chunk: 13
processing chunk: 14
20427566
patent_id                        object
inventor_sequence                 int64
inventor_id                      object
disambig_inventor_name_first     object
disambig_inventor_name_last      object
male_flag                       float64
attribution_status                int64
location_id                      object
dtype: object
        patent_id           inventor_id disambig_inventor_name_first  \
count    20427566              20427566                     20427147
unique    8259050               3864406                       638752
top      11381445  fl:sh_ln:yamazaki-66                      Michael
freq          133                  6153                       139434

       disambig_inventor_name_last                           location_id
count                     20427205                              20258204
unique                      758882                                 81345
top                            Kim  42f90495-16c8-11ed-9b5f-1234bde3cd05
freq                        213915                                589587

In [2]:
full_df

,patent_id,inventor_sequence,inventor_id,disambig_inventor_name_first,disambig_inventor_name_last,male_flag,attribution_status,location_id
0,10000000,0,fl:jo_ln:marron-5,Joseph,Marron,1.0,1,198b0471-16c8-11ed-9b5f-1234bde3cd05
1,10000001,1,fl:hy_ln:yu-30,Hyeon Jae,YU,NaN,99,3eb37495-16c8-11ed-9b5f-1234bde3cd05
2,10000001,0,fl:su_ln:lee-389,Sun-Woo,Lee,NaN,98,6c4ba08f-16c8-11ed-9b5f-1234bde3cd05
3,10000002,2,fl:do_ln:choi-31,Dong-Hyeon,Choi,1.0,1,755a6338-16c8-11ed-9b5f-1234bde3cd05
4,10000002,3,fl:do_ln:kim-369,Dong Jin,Kim,1.0,1,755a6338-16c8-11ed-9b5f-1234bde3cd05
...,...,...,...,...,...,...,...,...
20427561,T999002,0,2a3616tdt5rl235jmrrfoknyr,Henry C.,Twiggs,1.0,1,ebadff41-16c7-11ed-9b5f-1234bde3cd05
20427562,T999002,2,fl:da_ln:buck-13,Dan F.,Buck,1.0,1,ebadff41-16c7-11ed-9b5f-1234bde3cd05
20427563,T999002,1,fl:ja_ln:suggs-2,James L.,Suggs,1.0,1,f5268030-16c7-11ed-9b5f-1234bde3cd05
20427564,T999003,1,fl:gr_ln:lestina-1,Gregory J.,Lestina,1.0,1,d929a955-16c7-11ed-9b5f-1234bde3cd05
20427565,T999003,0,fl:jo_ln:ford-7,John A.,Ford,1.0,1,d929a955-16c7-11ed-9b5f-1234bde3cd05

In [3]:
full_df.to_csv("g_inventor_disambiguated.csv",encoding="utf-8")